/.metals
/.mypy_cache
/.vscode
open_jtalk_dic_utf_8-1.11
!/VoicevoxCoreWrapper/bin
/VoicevoxCoreWrapper/bin/model
/VoicevoxCoreWrapper/voicevox_core
/VoicevoxCoreWrapper/x64
/appearance/*
!/appearance/psd_resources
/appearance/psd_resources/*
/tmp/*
/output/*
net7.0
bin
obj
.fake
.vs
